label {
  padding: .2em;
  font-size: 1.4em;
  color: var(--grey);
  display: block;
}

input, textarea, select {
  padding: .2em .2em;
  margin: 8px 0;
  box-sizing: border-box;
}

input, select {
  font-size: 1.4em;
  width: 50%;
}

textarea {
  width: 90%;
  min-height: 10em;
}

select {
  max-width: 4em;
}

div.actions {
  padding: 1em;
  display: flex;
  direction: row;
  justify-content: space-around;
}

div.pos {
  display: inline;

}

button.pos {
  font-size: .8em;
  background-color: var(--blue);
  color: var(--white);
  margin: .4em;
  font-size: 1.2em
}

button.save {
  background-color: var(--green);
  color: var(--white);
}

button.delete {
  background-color: var(--red);
  color: var(--white);
}

input.custom {
  width: 12em
}

label.custom {
  font-size: .6em;
}