.App {
  text-align: center;
}

:root {
  --blue: #00f;
  --white: #fff;
  --light-grey: #eee;
  --grey: #888;
  --dark-grey: #444;
  --red: #f44;
  --yellow: #ff4;
  --green: #0f0;
}

button {
  border: 0;
  border-radius: .2em;
  font-size: 1.4em;
  min-width: 6em;
}
button a {
  text-decoration: none;
  color: var(--white)
}

button:hover {
  cursor: pointer;
  opacity: .6;
}

button:disabled {
  opacity: .4;
}

div.content {
  padding-top: 1em;
  width: 100%;
}

.error {
  background-color: var(--red);
  color: var(--white);
}

@media only screen and (max-width: 600px) {
  button {
    min-width: 4em;
  }
}